
header {
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0)), url(../_imagens/Bootcamp_04.png);
    background-size: cover;
    background-position: center center;

    width: 100%;
    height: 100vh;

    border-top:5px solid #000000;

}
